
---
# Staging Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cruder-ingress
  namespace: staging
  labels:
    app: cruder
    environment: staging
  annotations:
    # GCE Ingress (Google Cloud Load Balancer) annotations
    # NOTE: This is the default ingress class for GKE and nginx ingress controller is not installed on the cluster. so we need to use gce ingress class. It has its benefits aswell 
    # like Google handles scaling, updates, security patches, etc.
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.allow-http: "true"
spec:
  rules:
  # Rule 1: All traffic (no hostname filter for GCE) → staging namespace
  - http:
      paths:
      - path: /*
        pathType: ImplementationSpecific
        backend:
          service:
            name: cruder-service
            port:
              number: 80

---
# Production Ingress
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cruder-ingress
  namespace: production
  labels:
    app: cruder
    environment: production
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.allow-http: "true"
    # TODO: Consider enabling HTTPS and managed certificates:
    # kubernetes.io/ingress.global-static-ip-name: "cruder-production-ip"
    # networking.gke.io/managed-certificates: "cruder-production-cert"
spec:

  rules:
  # All traffic  → production namespace
  - http:
      paths:
      - path: /*
        pathType: ImplementationSpecific
        backend:
          service:
            name: cruder-service
            port:
              number: 80


---